@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.orderForm {
    color: $color-text;
    margin-bottom: 40px;
    background-color: $color-filling;
    border-radius: 20px;
    
    input[type="file"] {
        display: none;
    }

    option {
        color:red;
    }

    input,
    label,
    textarea {
        @include font-roboto-reg-14;
        font-size: 1.6em;
        color: inherit;

        @media(min-width:320px) and (max-width:767.98px) {
            font-size: 1.2em;
        }
    }

    span {
        @include font-roboto-reg-14;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: #697379;
    }

    &__file_upload {
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 20px;
    }

    &__button {
        display: flex;
        margin: auto;
    }

    &__translate {

        padding: 40px 120px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        @media(min-width:768px) and (max-width:991.98px) {
            padding: 40px 60px;
        }

        @media(min-width:451px) and (max-width:767.98px) {
            padding: 40px 40px;
        }

        @media(min-width:320px) and (max-width:450.98px) {
            padding: 20px 20px;
        }
    }

    &__input {
        padding: 0 0 5px 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &__input_double {
        padding: 0 0 5px 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 40%;
    }

    &__input_style {
        @include font-roboto-reg-16;
        border-radius: 20px;
        width: 100%;
        padding: 8px 20px;
    }

    &__textarea_style {
        @include font-roboto-reg-16;
        border-radius: 20px;
        width: 100%;
        padding: 8px 30px;
    }

    &__select_changeLanguage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__select_changeLanguage_wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    &__checkbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__checkbox_wrap {
        padding: 0 0 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        label {
            display: inline-block;
            width: 400px;
            padding: 10px;
            border-radius: 20px;
            text-align: center;
            margin-right: 20px;
        }

        input {
            display: none;
        }

        input:checked+label {
            border-radius: 20px;
            background-color: #BDDBFF;
        }

    }

    &__file {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            flex-basis: 30%;
        }
    }

    &__date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__textarea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__privacy {
        display: flex;
        margin-bottom: 30px;

        input {
            width: 5%;
            margin-right: 10px;
        }

        a {
            color: rgba(61, 154, 226, 1);
        }

        span {
            @media(min-width:320px) and (max-width:767.98px) {
                font-size: 1.2em;
            }
        }
    }

    button {
        @include button-blue;
        margin: auto;
        max-width: 70%;

        @media(min-width:320px) and (max-width:767.98px) {
            max-width: 100%;
            font-size: 1.4em;
        }
    }
}

.lang-dropdown {
    @include font-roboto-reg-14;
    color: $color-text;
    position: relative;
    width: 400px;
    margin-right: 20px;

    &__controls {
        position: relative;
        border-radius: 20px;
        text-align: center;
        user-select: none;
        padding: 10px;
        display: inline-block;
        width: 100%;
    }

    &__select {
        position: absolute;
        display: block;
        width: 100%;
        border: none;
    }

    &__select:focus {
        outline: none;
    }

    &__select>option {
        padding: 10px;
        background-color: #bddbff;
        position: relative;
        border-radius: 10px;
        text-align: center;
        max-width: 300px;
        display: flex;
        justify-content: center;
        margin: 2px auto;
    }

    &__hidden {
        display: none;
    }

}