@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset.scss';
@import './typography.scss';



@import './header.scss';
@import './orderTranslate.scss';
@import './about-company.scss';
@import './languages.scss';
@import './features-translate.scss';
@import './media.scss';
@import './how-we-work.scss';
@import './discount.scss';
@import './footer.scss';
@import './contacts.scss';

html,
body {
  height: 100vh;
  font-size: 10px;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 15px;
}
