@import "typography";
@import './media.scss';

.discount {
  text-align: center;
  margin-bottom: 50px;

  h2 {
    @include font-roboto-bold-48;
    color: $color-text;
    margin-bottom: 40px;
  }

  p {
    @include font-roboto-reg-20;
    color: $color-text;
  }

  @media (min-width: $breakpoint-big-high) {
    &__wrap {
      display: flex;
    }

    &__item {
      width: 25%;
    }
  }

  @media (min-width: $breakpoint-small-high) and (max-width: $breakpoint-big-low) {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
      display: block;
    }
  }

  @media (max-width: $breakpoint-small-low) {
    &__wrap {
      display: block;
    }

    &__item {
      display: flex;
    }
  }

  // Это временно - просто, чтобы были видны их области
  img {
    width: 64px;
    height: 64px;
  }

}