@import './typography.scss';
@import './media.scss';

.footer {
  margin-bottom: 80px;
  background-color: $color-footer;
  height: 276px;
  padding-top: 32px;

  &__wrap {
    display: flex;
  }

  &__nav {
    color: $color-text;
    width: 240px;
    flex-shrink: 0;

    &_item {
      @include font-roboto-reg-14;
      color: $color-text;
      line-height: 100%;
    }
    &_item:nth-child(n+2) {
      margin-top: 25px;
    }
  }

  &__copyright {
    margin-top: 76px;
    @include font-roboto-reg-14;
    color: $color-text;
    line-height: 100%;
  }

  h2 {
    @include font-roboto-bold-48;
    color: $color-text;
    margin-bottom: 60px;
  }

  p {
    @include font-roboto-reg-14;
    color: $color-text;
    line-height: 178%;
  }



}
