@import './typography.scss';
@import './media.scss';

.languages {
  text-align: center;
  margin-bottom: 80px;


  h2 {
    @include font-roboto-bold-48;
    color: $color-text;
    margin-bottom: 60px;
  }

  p {
    @include font-roboto-reg-20;
    color: $color-text;
  }

 /*  button {
    @include button-blue;
  } */

  &__item {
    @include font-roboto-reg-20;
    color: $color-text;
    text-align: left;
    display: block;
  }

  &__wrap{
    margin-bottom: 20px;
  }

  @media (min-width: $breakpoint-big-high) {
    &__wrap {
      column-count: 5;
    }
  }

  @media (min-width: $breakpoint-small-high) and (max-width: $breakpoint-big-low) {
    &__wrap {
      column-count: 3;
    }
  }

  @media (max-width: $breakpoint-small-low) {
    &__wrap {
      column-count: 2;
    }
  }

}
