// До этого значения включительно - мобильные
$breakpoint-small-low: 640px;

// В этом диапазоне планшеты
$breakpoint-small-high: 641px;
$breakpoint-big-low: 1200px;

// Это для десктопов
$breakpoint-big-high: 1201px;
