@import "./typography.scss";
@import './media.scss';


.orderTranslate {
    background-image: url('../img/backTranslate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 100vh;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include sm {
        background-image: url('../img/backTranslate-small.jpg');
    }

    &__wrap {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        @include font-roboto-bold-48;
        color: $color-white;
        margin-bottom: 20px;

        @include sm {
            font-size: 2.7em
        }
    }

    p {
        @include font-roboto-reg-22;
        font-size: 3.2rem;
        color: $color-white;
        margin-bottom: 70px;

        @include sm {
            font-size: 1.4em
        }
    }

    button {
        @include button-white;
    }
}