@import "./typography.scss";
@import './media.scss';


.orderTranslate {

    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 100vh;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;


    @media (min-width:576px) {

        background-image: url('../img/backTranslate.jpg');
    }

    @media (min-width: 320px) and (max-width: 575.98px) {

        background-image: url('../img/backTranslate-small.jpg');
    }



    &__wrap {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media(min-width:320px) and (max-width:767.98px) {
            padding: 0 10px;
            align-items: flex-start;
        }

    }

    h1 {
        @include font-roboto-bold-48;
        text-align: center;
        color: $color-white;
        margin-bottom: 20px;

        @media(min-width:768px) and (max-width:991.98px) {
            font-size: 3.7em;
        }

        @media(min-width:768px) and (max-width:991.98px) {
            font-size: 3.4em;
        }

        @media(min-width:320px) and (max-width:767.98px) {
            font-size: 3em;
            text-align: left;
        }
    }

    p {
        @include font-roboto-reg-22;
        text-align: center;
        color: $color-white;
        margin-bottom: 70px;

        @media(min-width:992px) {
            font-size: 3.2rem;

        }

        @media(min-width:768px) and (max-width:991.98x) {
            font-size: 2.7em;
        }

        @media(min-width:320px) and (max-width:767.98px) {
            font-size: 2.2em;
            text-align: left;
        }
    }

    button {
        @include button-white;

        @media(min-width:320px) and (max-width:767.98px) {
            max-width: 300px;
            padding: 20px 60px;
        }
    }
}