$color-footer: #c1d8f2;

$color-text: rgba(2, 32, 51, 1);

$color-white: rgba(255, 255, 255, 1);

$color-button: linear-gradient(180deg, rgba(189, 219, 255, 0.65) 0%, rgba(105, 154, 194, 0.42) 9.9%, rgba(11, 82, 125, 0.44) 17.71%, rgba(11, 82, 125, 0.84) 35.94%, #0B527D 56.25%, #072A3F 95.31%);

$color-checkbox: #bddbff;

$color-border: #3d9ae2;

@mixin font-roboto-reg-14 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 150%;
}

@mixin font-roboto-reg-20 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 150%;
}

@mixin font-roboto-reg-22 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2em;
  line-height: 150%;
}

@mixin font-roboto-bold-24 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 150%;
}

@mixin font-roboto-bold-48 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.8em;
  line-height: 150%;
}

@mixin button-blue {
  @include font-roboto-bold-48;
  font-size: 1.9em;
  max-width: 460px;
  width: 100%;
  padding: 28px 145px;
  background: $color-button;
  color: $color-white;
  border-radius: 20px;
  text-align: center;
}

@mixin button-white {
  @include font-roboto-bold-48;
  font-size: 1.9em;
  max-width: 340px;
  width: 100%;
  padding: 24px 84px;
  background: $color-white;
  color: $color-text;
  border-radius: 20px;
  text-align: center;
}