@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.featuresTranslate {
  text-align: center;
  padding-top: 80px;

  @media(min-width: 768px) and (max-width:1439.98px) {
    padding-top: 60px;
  }

  @media(min-width: 200px) and (max-width:767.98px)  {
    padding-top: 40px;
  }

  button {
    @include button-blue;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;

    @media(min-width: 320px) and (max-width: 767.99px) {
      flex-direction: column;
    }

    @media (min-width: 1438px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__text {
    text-align: center;
    font-size: 24px;
    line-height: 30px;

    @media(min-width: 1440px) {
      margin-top: 24px;
      margin-bottom: 47px;
    }

    @media(min-width: 768px) and (max-width:1439.98px) {
      margin-top: 24px;
      margin-bottom: 22px;
      font-size: 20px;
      line-height: 23px;
    }

    @media(min-width: 320px) and (max-width:767.98px) {
      font-size: 20px;
      line-height: 23px;
      text-align: initial;
    }

  }

  &__item {
    @media (max-width: 767.98px) {
      img {
        display: none;
      }

      display: flex;
      margin-top: 22px;
      align-items: center;
      text-align: initial;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      width: 50%;
    }

    @media (min-width: 992px) and (max-width: 1438px) {
      width: 25%;
    }

    @media (min-width: 1438px) {
      width: 25%;
    }
  }

  img {
    width: 64px;
    height: 64px;
  }
}
