<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/static/change-contacts/style.css>
    <title>Document</title>
</head>

<body>
    <div class="authWrap">
        <h2 class="headerAuth">Авторизация</h2>
        <form id="order-form" method="post" action="/change_contacts/">
            <div class="inputWrap">
                <label for="login">Логин</label>
                <input type="text" name="login" required/>
            </div>
            <div class="inputWrap">
                <label for="password">Пароль</label>
                <input type="password" name="password" required/>
                {% for msg in get_flashed_messages(category_filter=['auth_message', 'login_message']) %}
                    <span class="war">
                        {{ msg }}  
                    </span>
                {% endfor %}
            </div>
            <div class="buttonWrap">
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>

</body>

</html>