@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.header__burger {
    @media(min-width:200px) {
        display: none;
    }

    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    padding: 20px;
    background: $color-filling;
    transform: translateX(-100%);
    transition: all 0.2s;

    &_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px;


        li:not(:last-child) {
            margin-bottom: 20px;
        }

        a {
            @include font-roboto-reg-14;
            color: $color-text;
            padding: 10px 0;            
        }

        a:hover {
            color: #3B7598;
        }
    }
}

.active {
    position: fixed;
    width: 100%;
    height: auto;
    transform: translateX(0);
    display: flex;
    transition: transform 0.5s;
}

.close {
    cursor: pointer;
}