@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.orderForm {
    color: $color-text;
    padding-top: 80px;
    border-radius: 20px;

    @media(min-width: 768px) and (max-width:1439.98px) {
        padding-top: 60px;
      }
    
      @media(min-width: 200px) and (max-width:767.98px)  {
        padding-top: 40px;
      }
    
    input[type="file"] {
        display: none;
    }

    button:hover {
        background: #3B7598;
        border: none;
    }

    input,
    label,
    textarea {
        @include font-roboto-reg-14;
        font-size: 1.6em;
        color: inherit;

        @media(min-width:320px) and (max-width:767.98px) {
            font-size: 1.2em;
        }
    }

    span {
        @include font-roboto-reg-14;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: #697379;

        .error {
            font-size: 0.9em;
            color: #bd0f0f;
        }
        
    }


    &__sucsess {
        display: flex;
        color: #022033;

        @media(min-width:1440px) {
            font-size: 24px;
            line-height: 28px;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        
        @media(min-width:768px) and (max-width:1439.98px) {
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        @media(min-width:320px) and (max-width:767.98px) {
            font-size: 16px;
            line-height: 19px;
            margin-top: 25px;
        }
        
        &__sendError {
            color: #bd0f0f;
            display: flex;
            margin-top: 25px;
        }
    }

    &__file_upload {
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 20px;
    }

    &__file-list {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-left: 25px;
    }

    &__button {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        border: none;
    }

    &__translate {
        padding: 40px 120px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: #D1E5EF;

        @media(min-width:768px) and (max-width:991.98px) {
            padding: 40px 60px;
        }

        @media(min-width:451px) and (max-width:767.98px) {
            padding: 40px 40px;
        }

        @media(min-width:320px) and (max-width:450.98px) {
            padding: 20px 20px;
        }
    }

    &__input {
        padding: 0 0 5px 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &__input_double {
        padding: 0 0 5px 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 40%;

        @media(min-width:320px) and (max-width:767.98px) {
            width: 100%;
        }
    }

    &__input_style {
        @include font-roboto-reg-16;
        border-radius: 20px;
        width: 100%;
        padding: 8px 20px;
    }

    &__textarea_style {
        @include font-roboto-reg-16;
        border-radius: 20px;
        width: 100%;
        padding: 8px 30px;
    }

    &__select_changeLanguage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__select_changeLanguage_wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        @media(min-width:320px) and (max-width:767.98px) {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__file {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            flex-basis: 30%;
        }
    }

    &__date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__textarea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__privacyWrap {
        margin-bottom: 30px;

    }

    &__privacy {
        display: flex;
        align-items: center;

        input {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            border-bottom-style: none;
        }

        a {
            color: rgba(61, 154, 226, 1);
        }

        span {
            @media(min-width:320px) and (max-width:767.98px) {
                font-size: 1.2em;
            }
        }
    }

    &__error {
        font-size: 1.2em;
        color: #bd0f0f;
    }
    
    button {
        @include button-blue;
        margin: auto;
        max-width: 70%;
        border: none;

        @media(min-width:320px) and (max-width:767.98px) {
            max-width: 100%;
            font-size: 1.4em;
            border: none;
        }
    }
}

.lang-dropdown {
    @include font-roboto-reg-14;
    color: $color-text;
    position: relative;
    width: 400px;
    margin-right: 20px;

    &__controls {
        position: relative;
        border-radius: 20px;
        text-align: center;
        user-select: none;
        padding: 10px;
        display: inline-block;
        width: 100%;
    }

    &__select {
        position: absolute;
        display: block;
        width: 100%;
        border: none;
    }

    &__select:focus {
        outline: none;
    }

    &__select>option {
        padding: 10px;
        background-color: #bddbff;
        position: relative;
        border-radius: 10px;
        text-align: center;
        max-width: 300px;
        display: flex;
        justify-content: center;
        margin: 2px auto;
    }

    &__hidden {
        display: none;
    }
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url(https://netology-code.github.io/html-2-homeworks/form-elements/city-select/img/select-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    
    padding-right: 25px;
    
    margin: 0;
    
    border: 1px solid #cbd1d4;
    background-color: #f9f9f9;
    
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333333;
  }
  
  .select:focus {
    outline: 2px solid #0f8fee;
    outline-offset: 4px;
  }

  .clear {
      font-size: 18px;
      cursor: pointer;
  }

  .textInfo {
      font-size: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      color: #697379;

      @media(min-width:320px) and (max-width:767.98px) {
          display: none;
      }
  }