@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.mainBanner {
    background-repeat: no-repeat;
    background-size: cover; // ставим cover
    width: 100%;
    margin: 0px 0 50px 0;
    padding-top: 37px;
    background: linear-gradient(231.1deg, rgba(38, 187, 210, 0.79) 19.27%, #447B9C 58.26%, #0B527D 87.46%);

    &__wrap {
        display: flex;
    }

    &__img {
        display: flex;
        width: 50%;
        position: relative;
    }

    &__text {
        display: flex;
        width: 50%;
        align-items: flex-start;
        flex-direction: column;
        color: $color-white;
        align-content: flex-start;
        justify-content: center;
    }

    h1 {
        @include font-roboto-bold-48;
        color: $color-white;
        font-weight: 700;
        margin-bottom: 85px;
        font-family: "Jura"; 
        font-size: 90px;
        line-height: 73px;

        @media(min-width:1440px) and (max-width:1919.98px) {
            font-size: 72px;
            line-height: 72px;
            margin-bottom: 35px; 
            margin-top: 43px;
        }

        @media(min-width:768px) and (max-width:1439.98px) {
            font-size: 46px;
            line-height: 48px;
            margin-bottom: 15px;
        }

        @media(min-width: 200px) and (max-width:767.98px) {
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 10px;
        }
    }

    p {
        @include font-roboto-reg-22;
        color: $color-white;
        margin-bottom: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;

        @media(min-width:1440px) and (max-width:1919.98px) {
            font-size: 21px;
            line-height: 25px;
        }

        @media(min-width:768px) and (max-width:1439.98px) {
            font-size: 16px;
            line-height: 19px;
        }

        @media(min-width: 200px) and (max-width:767.98px) {
            text-align: left;
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .prettyFemale {
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 0;

        @media(min-width:1440px) {
            width: 695.53px;
        }

        @media(min-width:768px) and (max-width:1439.98px) {
            width: 435.54px;
        }

        @media(min-width:320px) and (max-width:767.98px) {
            width: 193.54px;
        }
    }

    .dottedBackground {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 10%;

        @media(min-width:1920px) {
            width: 736px;
            //height: 400px; 
        }

        @media(min-width:1440px) and (max-width:1919.98px){
            width: 478px;
            //height: 400px; 
        }

        @media(min-width:768px) and (max-width:1439.98px) {
            width: 245px;
            //height: 205px; 

        }

        @media(min-width:320px) and (max-width:767.98px) {
            width: 122px;
            //height: 112px;
        } 
    }
}