@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './BaseStyles/reset.scss';
@import './BaseStyles/typography.scss';
@import './BaseStyles/media.scss';

//@import './header.scss';
//@import './orderTranslate.scss';
@import './components/header/Header';
@import './components/navbar/Navbar';
@import './components/mainBanner/MainBanner';
@import './components/about-company/AboutCompany';
@import './components/languages/Languages';
@import './components/features-translate/FeaturesTranslate';
@import './components/how-we-work/HowWeWork';
@import './components/costDependency/СostDependency';
@import './components/discount-offer/DiscountOffer';
@import './components/orderForm/OrderForm';
@import './components/footer/Footer';
@import './components/contacts/Contacts';
@import './components/burgerMenu/BurgerMenu';

//@import './form.scss';
//@import './burger-menu.scss';
//@import './lang-dropdown.scss';

html,
body {
  height: 100vh;
  font-size: 10px;
}

h2 {
  @include font-roboto-bold-48;
  text-align: center;
  line-height: 100%;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px; 

  @media(min-width:768px) and (max-width:991.98px) {
    font-size: 44px;
    line-height: 52px;
  }

  @media(min-width:320px) and (max-width:767.98px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
} 

p {
  @include font-roboto-reg-20;
    color: $color-text;
    font-size: 24px; 
    line-height: 36px;

  @media(min-width: 992px) and (max-width: 1199.99px) {
    font-size: 20px;
    line-height: 30px;
  }     

  @media(min-width:768px) and (max-width:991.98px) {
    font-size: 18px;
    line-height: 26px;
  }

  @media(min-width:320px) and (max-width:767.98px) {
    font-size: 14px;
      line-height: 20px;
  }
} 

.lock {
  overflow: hidden;
}

.container {
  //max-width: 90%;
  margin: 0 auto;
  //padding: 0 15px;

  @media (max-width: 1199.99px) {
    max-width: 960px;
    width: 85%
  }

  @media (max-width: 360px) {
    padding: 0 10px;
  }

  /*   @media(min-width: 992px) and (max-width: 1199.99px) {
    max-width: 960px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 720px;
  }

  @media (min-width: 460px) and (max-width: 767.98px) {
    max-width: 540px;
  }


  @media (min-width: 421px) and (max-width: 575.98px) {
    max-width: 420px;
  }

  @media (min-width: 320px) and (max-width: 420.98px) {
    max-width: 320px;
  } */
}

.containerWrap {
  width: 85%;
  margin: auto;
}

