@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './BaseStyles/reset.scss';
@import './BaseStyles/typography.scss';
@import './BaseStyles/media.scss';

//@import './header.scss';
//@import './orderTranslate.scss';
@import './components/header/Header';
@import './components/navbar/Navbar';
@import './components/orderTranslate/OrderTranslate';
@import './components/about-company/AboutCompany';
@import './components/languages/Languages';
@import './components/features-translate/FeaturesTranslate';
@import './components/how-we-work/HowWeWork';
@import './components/discount/Discount';
@import './components/discount-offer/DiscountOffer';
@import './components/form/Form';
@import './components/footer/Footer';
@import './components/contacts/Contacts';
@import './components/burgerMenu/BurgerMenu';

//@import './form.scss';
//@import './burger-menu.scss';
//@import './lang-dropdown.scss';

html,
body {
  height: 100vh;
  font-size: 10px;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1199.99px) {
    max-width: 960px;
    width: 100%
  }

  @media (max-width: 360px) {
    padding: 0 10px;
  }

  /*   @media(min-width: 992px) and (max-width: 1199.99px) {
    max-width: 960px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 720px;
  }

  @media (min-width: 460px) and (max-width: 767.98px) {
    max-width: 540px;
  }


  @media (min-width: 421px) and (max-width: 575.98px) {
    max-width: 420px;
  }

  @media (min-width: 320px) and (max-width: 420.98px) {
    max-width: 320px;
  } */
}