<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="authWrap">
        <h2>Замена контактов</h2>
        <form id="order-form">
            <div class="inputWrapContact">
                <label for="address">Адрес</label>
                <input type="text" name="address"
                       placeholder="{{ contacts.get('address', '') }}"/>
            </div>
            <div class="inputWrapContact">
                <label for="tel_one">Телефон</label>
                <input type="tel" name="tel_one"
                       placeholder="{{ contacts.get('phone_1', '') }}"/>
            </div>
            <div class="inputWrapContact">
                <label for="tel_two">Телефон</label>
                <input type="tel" name="tel_two"
                       placeholder="{{ contacts.get('phone_2', '') }}"/>
            </div>
            <div class="inputWrapContact">
                <label for="whatsApp">WhatsApp</label>
                <input type="tel" name="whatsApp"
                       placeholder="{{ contacts.get('whatsapp', '') }}"/>
            </div>
            <div class="inputWrapContact">
                <label for="telegram">Telegram</label>
                <input type="text" name="telegram"
                       placeholder="{{ contacts.get('telegram', '') }}"/>
            </div>
            <div class="inputWrapContact">
                <label for="email">Email</label>
                <input type="email" name="email"
                       placeholder="{{ contacts.get('email', '') }}"/>
            </div>
            <div class="buttonWrap">
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>

</body>

</html>