@import '../../BaseStyles/typography.scss';
@import '../../BaseStyles/media.scss';

.discountOffer {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: $color-filling;
  border-radius: 20px;
  padding: 30px 30px 38px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  @media(min-width:320px) and (max-width:767.98px) {
    padding: 30px 30px 30px 30px;
  }

  &__textBasic {
    @media(min-width:320px) and (max-width:767.98px) {
      display: none;
    }
  }
}